@font-face {
  font-family: "ONE-Mobile-POP";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.contact-container {
  width: 30%;
}
.plus-icon{
  width: 30px;
  height: 30px;
}
.title-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
.title {
  text-align: center;
}
.title-sub{
  text-align: left;
}
.btn-position{
  position: relative;
  height: 50px;
}
.add-btn{
  background-color: #1739aa;
  position: absolute;
  top: 10px;
  right: 0;
  
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: white;
  border-radius: 18px;
}
.row{
  --bs-gutter-x: -1.5rem;
}
.close-icon{
  width: 30px;
  height: 30px;
  position: absolute;
  top: -12%;
  right: -5%;
  cursor: pointer;
}
.contact-box {
  display: flex;
  flex-direction: column;
  position: relative;
}
.contact-box p {
  font-family: "ONE-Mobile-POP";
  font-size: 2rem;
  line-height: 1.3;
}
.contact-box input {
  border: 1px solid #d9e0e6;
  background-color: #f8fafb;
  width: 100%;
  height: 54px;
  border-radius: 18px;
  padding: 14px 15px;
  font-size: 16px;
  box-sizing: border-box;
}
input::placeholder {
  color: #909293;
  font-weight: 600;
}
.contact-box button {
  background-color: #1739aa;
  padding: 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: white;
  border-radius: 18px;
}
.m-t-3 {
  margin-top: 3%;
}

.search-input {
  background-color: #f8fafb;
  border: 1px solid #d9e0e6;
  width: 100%;
  height: 43px;
  border-radius: 18px;
  padding: 14px 15px;
  font-size: 16px;
  box-sizing: border-box;
  box-shadow: inset 0px 4px 4px rgba(108, 107, 107, 0.25);
  margin-right: 10px;
  
}
.search-btn {
  background-color: #1739aa;
  /* padding: 15px; */
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: white;
  border-radius: 18px;
  width: 27%;
}
.item-box{
  margin-top: 2%;
  border-bottom: 1px solid #d9e0e6;
  border: none;
  background-color: #ffffff;
  border-radius: 18px;
}
.user-icon{
  text-align: center;
}
.sub-item-box{
  display: flex;
  margin-top: 1%;
  position: relative;
}
.img-box{
  margin-right: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1%;
}
.info{
  width: 70%;
}
.lst-item-box{
  background-color: #fff;
  border-radius: 18px;
  padding: 14px;
  margin-top: 3%;
}
.app-container{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  position: relative;
  min-height: 100vh;
}
.contact-container{
  position: fixed;
  bottom: 0;
  left: 25%;
  width: 50%;
  background-color: rgba(173, 171, 171, 0.25);
  padding: 5%;
  border-radius: 18px 18px 0 0;
}
.flex-search{
  display: flex;
  background-color: #ffffff;
  padding: 50px 100px;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.05);
  border-radius: 18px;
  margin-top: 3%;
}
.item-name{
  font-family: "ONE-Mobile-POP";
}
.item-num{
  color: #909293;
}
.delete-icon{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
@media(max-width:970px){
  .app-container{
    width: 70%;
  }
  .contact-container{
    width: 70%;
    left: 13%;
  }
}
@media(max-width:675px){
  .app-container{
    width: 100%;
  }
  .contact-container{
    width: 100%;
    left: 0;
  }
  .contact-box p{
    font-size: 1.5rem;
  }
  .close-icon{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0%;
    cursor: pointer;
  }
  .title-box{
    width: 100%;
    font-size: 1rem;
  }
  .flex-search{
    padding: 25px 25px;
  }
}